<!DOCTYPE html>
<html>
<head>
	<title>Detail</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/asset/css/Detail.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
		<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand ms-5 me-5" href="#"><img src="public/logo.png"></a>
    
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold me-4" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="/myproject">Add Project</a>
        </li>
        
          
        </li>
        
      </ul>
     
        <a class="btn bg-black text-white" type="submit" href="/contact">Contact Me</a>
      
    </div>
  </div>
</nav>
<div class="Container-Judul">
	<h1 class="Hsatu-Judul justify-content-center d-flex">Gambaran Masa Depan</h1>

<div class="Control-semua d-flex">
<div class="Container-Heads d-flex">

	<img src="public/download.jpg" class="d-flex me-5 ">
	</div>
	<div class="Control-teks" >
	<h3 class=" me-5 ">Durasion :</h3>
		<i class="fa-solid fa-calendar-days d-flex"><p class="">08 Mei 2022-18 Mei 2022</p></i>
		<i class="fa-solid fa-clock d-flex"><p class="">10 Days</p></i>
		<h3 class="me-5">Tecnologi :</h3>
		<i class="fa-brands fa-node-js d-flex"><p class="">Node Js</p></i>
		<i class="fa-brands fa-react d-flex"><p class="">React Js</p></i>
	</div>
	<div>
		
	</div>
</div>

</div>
<div class="d-grid gap-5">
  <div class="p-4  ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

</div>



</body>
</html>