<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/asset/css/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
	<title>Home</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-5 me-5" href="#"><img src="/public/logo.png"></a>
    
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold me-4" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="/myproject">Add Project</a>
        </li>
        
          
        </li>
        
      </ul>
     
        <a class="btn bg-black text-white" type="submit" href="/contact">Contact Me</a>
      
    </div>
  </div>
</nav>
<div class="Container-one">
		
<div class="Container-two d-flex" >
	<div>
	<h1 >Walcome to my hut</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
	

	<div class="container-tuhuh d-flex mb-5">	
<button type="button" class="btn bg-black text-white"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Contact Me
</button>
	<h4 class="Container-empat ms-4"
			>download CV <i class="fas fa-download fa-lg"></i>
		</h4>
	</div>
<i class="bi bi-instagram me-3"></i>
<i class="bi bi-facebook me-3"></i>
<i class="bi bi-twitter me-3"></i>
	
</div>
<div class="Container-lima  align-items-center">
	<div class="Container-enam mt-4 ms-5" 
	>
		<img src="public/images.jpg" class="Container-tujuh rounded-2"
		
		
		>
		<h3 class="Container-delapan text-center">Mochamad Dwiki</h3>
		<h4 class="Container-sembilan text-center">Full stack Developer</h4>


	</div>
</div>
</div>
</div>
<div class="Myproject-card bg-white">
	<h1 class="Myproject-card-one d-flex justify-content-center  align-items-center mt-5">My project</h1>
	<div class="container justify-content-around ">
  <div class="row ">
    <div class="col-4 ">
    	<div class="card shadow ">
    		<div class="card-body  justify-content-center">
    			<div class="card-imagex d-flex justify-content-center"><img src="/public/images.jpg"></div>
    			<h5 class="Judul-container fw-bolder ms-3">

      "Gambaran Masa Depan"
      </h5>
       <h6 class="Tetx-container ms-3 ">
  	Durasion : Fri May 20 2022 18:00:07 GMT+0700
  </h6>
   <p class="contact-ke-satu m-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua<a id="" class="form-text "  href="/detail-blog/1">{Lern MORE....}</a></p>
   <i class="bi bi-filetype-js"></i>
  <i class="bi bi-filetype-jsx"></i>
  <div class="buutton-container mt-4">
  <button type="button" class="btn bg-black text-white btn-sm">Edit</button>
<button type="button" class="btn bg-black text-white btn-sm">Hapus</button>
    </div>
    </div>
</div>
</div>
    <div class="col-4">
    	<div class="card shadow">
    		<div class="card-body  justify-content-center">
    			<div class="card-imagex d-flex justify-content-center"><img src="/public/images.jpg"></div>

<h5 class="Judul-container fw-bolder ms-3">
      "My Project"

  </h5>
  <h6 class="Tetx-container ms-3">
  	Durasion : Fri May 20 2022 18:00:07 GMT+0700
  </h6>
  <p class="contact-ke-dua ms-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua<a id="" class="form-text "  href="/detail-blog/2">{Lern MORE....}</a></p>
    <i class="bi bi-filetype-js"></i>
  <i class="bi bi-filetype-jsx"></i>
  <div class="buutton-container mt-4">
  <button type="button" class="btn bg-black text-white btn-sm">Edit</button>
<button type="button" class="btn bg-black text-white btn-sm">Hapus</button>
</div>
    </div>
    </div>
</div>
    <div class="col-4">
    	<div class="card shadow">
    		<div class="card-body  justify-content-center">
    			<div class="card-imagex d-flex justify-content-center"><img src="/public/images.jpg"></div>
    			<h5 class="Judul-container fw-bolder ms-3">

      "Corona Varian Baru"
        </h5>
         <h6 class="Tetx-container ms-3">
  	Durasion : Fri May 20 2022 18:00:07 GMT+0700
  </h6>
   <p class="Contact-ke-tiga ms-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua<a id="" class="form-text " href="/detail-blog/3">{Lern MORE....}</a></p>
  <i class="bi bi-filetype-js"></i>
  <i class="bi bi-filetype-jsx"></i>
  <div class="buutton-container mt-4">
  <button type="button" class="btn bg-black text-white btn-sm">Edit</button>
<button type="button" class="btn bg-black text-white btn-sm">Hapus</button>
</div>
    </div>
    </div>
</div>
  </div>
</div>
</div>
</body>

        


</html>