.bg-black{
	background-color: ;
	

}

.navbar{

	height: 7vh;
}

.container-blog-form{
	height: 90vh;
	background-color: #eee

}

.container-blog-form form {
	width: 400px;
	font-weight: 700;
	font-size: 20px;

}
.container-blog-form textarea{
	resize: none;

}
.container-blog-form form input,textarea{
	border: 1px solid white !important;
	box-shadow:0px 0px 10px black !important;
}
.container-blog-form select{
	border: 1px solid white !important;
	box-shadow:0px 0px 10px black !important;

}

.container-blog-form button{
	
	border: none !important;
			padding: 8px 30px !important;
			 border-radius: 10px !important;
			margin-left: 300px !important;
			cursor: pointer;
}
.container-blog-form h1{
	text-align: center;
}